.addNewBtn {
    width: 35vw;
    height: 80vh;
    font-size: 1rem;
    background-color: goldenrod;
    color: white;
    padding: 4vh 2vw 5vh 4vw;
    margin: 5vh 10vw 10vh 10vw;
    border-radius: 0.5rem;
    box-shadow: 2rem 2rem 2rem grey;
}
.addNewTit{
    padding: 0 0 1vh 0;
    font-size: 1.2rem;
    width: 26vw;
    border-bottom: 0.1rem solid white;
}
input {
    width: 26vw;
    height: 2vw;
    font-size: 0.8rem;
    padding: 1vh 0 1vh 0.5vw;
}
.proInp{
    padding: 1vh 0 0 0;
}
.submitBtn button:hover{
    background-color: rgb(204, 102, 102);
    color: white;
}
.fileInp{
    padding: 0.5vh 0 1vh 0;
}
.fileInp input {
    height: 5vh;
}
